* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.primary-btn {
    padding: 16px 24px;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: #28ac64;
    color: #fff;
}

.secondary-btn {
    padding: 14px 20px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 8px;
    background: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}

.secondary-btn:hover {
    background-color: #28ac64;
    border: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    padding-bottom: 40px;
    align-items: center;

}

nav li {
    list-style: none;

}

.home {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
}



.button img {
    height: 20px;
    margin-right: 20px;


}

.home a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.header-container {
    height: 37.5rem;
    background-image: url(../imges/person.jpeg);
    background-size: cover;
}

.banner-continer {
    padding-top: 100px;
    padding-left: 100px;
}

.banner-continer h1 {
    font-size: 64px;
    color: #fff;
}

.banner-continer p {
    font-size: 24px;
    padding: 16px 0;
}

/* ----explore----- */

.explore-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.explore-card-heading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.explore-card-heading h1 {
    font-size: 34px;
    padding-bottom: 5px;
}

.color,
.recent-des {
    color: #969393;
}

.explore-card-1 {
    background-image: url(../imges/ai.jpeg);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.explore-card-2 {
    background-image: url(../imges/developer.jpeg);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.explore-card-3 {
    background-image: url(../imges/program.jpeg);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.explore-card-1 h2,
.explore-card-2 h2,
.explore-card-3 h2 {
    color: #09d8e7;
}

.explore-card-1:hover,
.explore-card-2:hover,
.explore-card-3:hover {
    transform: scale(1.1);
    transition-duration: 3s;

}

/* codein-container */

.codein-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.code-title h1 {
    font-size: 32px;
}

.code-title p {
    padding: 16px 0;
}

.chekar p {
    font-size: 24px;
    padding: 10px 0;
}

.chekar-color {
    color: #28ac64;
}

.code-title .primary-btn {
    margin-top: 34px;
}

/* progressbar */

.dashboard {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 34px;
}

.progressbar-1 {
    background: #28ac64;
    position: relative;
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 10px 50px 0 #5ce44d;
}

.progressbar-1 h3 {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 700;
}

.progressbar-1 p,
.progressbar-1 h3 {
    text-align: center;
    color: #fff;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    
}
.recent-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* recent-worl-container */
.resent-title{
    font-size: 34px;
    text-align: center;
}
.recent-des{
    text-align: center;
    padding: 5px;
}

.recent-worl-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;

}

.recent-worl-sub-container {
    display: flex;
    gap: 20px;
    padding: 0;
}

.recent-worl-sub-container .big {
    height: 450px;
    width: 62%;
    margin-left: 40px;
    border-radius: 7px;

}


/*  */
.recent-worl-container img {
    height: 500px;
    width: 400px;
    border-radius: 7px;

}

.recent-worl-sub-container img {
    border-radius: 7px;
}
.recent-worl-container img:hover,
.recent-worl-sub-container img:hover{
    opacity: 0.6;
}
.nn{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
/* person jonas */
.ellipse{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.ellipse-1{
    border-radius: 50%;
    padding: 5px;
    border: 4px solid #e9d1d1;
    width: 200px;
}
.ellipse-2{
    border-radius: 50%;
    padding: 5px;
    border: 4px solid #f71a1a;
    width: 150px;
    opacity: 0.6;
}
.ellipse-3{
    border-radius: 50%;
    padding: 5px;
    border: 4px solid #f71a1a;
    width: 100px;
    opacity: 0.3;
}

.ellipse-des{
    color: #969393;
    text-align: center;
    text-decoration: underline;
    padding: 20px 100px;
    line-height: 30px;
}
/*  project */

.project{
    text-align: center;
    background-color: #28ac64;
    height: 300px;
    color: #fff;
    padding-top: 150px;
    align-items: center;
}
.project h1{
    font-size: 34px;
}
.project p{
    padding: 16px 0;
}
.project-bnt {
    padding: 14px 20px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid #d9e6df;
    border-radius: 18px;
    background: 0;
    color: #fff;
    cursor: pointer;
}
.project-bnt:hover{
    background-color: #5ce44d;
    background-color: #0dec71e3;
}

/* responsive */

@media screen and (max-width:600px) {

    nav {
        padding-top: 5px;
    }

    .home {
        display: none;
    }

    .banner-continer {
        padding-top: 100px;
        padding-left: 10px;
    }

    .banner-continer h1 {
        font-size: 42px;
    }

    .header-container {
        background-position: center;

    }

    /* ---------- */
    .explore-card-container {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .explore-card-1,
    .explore-card-2,
    .explore-card-3 {
        width: 100%;
        background-size: cover;
        margin: 20px 0;

    }

    .explore-card-1 h2,
    .explore-card-2 h2,
    .explore-card-3 h2 {
        color: #ff6905;
    }

    /*  ------- */
    .codein-container {
        display: block;
        padding: 10px;
    }

    .code-title h1 {
        font-size: 24px;
    }

    /* progress */
    .progress-bar {
        display: block;
        gap: 150px;
    }
    .code-man{
        width: 90%;
    }

    .progressbar-1 {
        margin-bottom: 50px;
        margin-left: 180px;
    }
    /*  */
    .recent-worl-sub-container ,
    .recent-worl-container,
    .ellipse{
        display: block;
    }

    .recent-worl-container img,
    .recent-worl-sub-container img
     {
        width: 100%;
    
    }
    .recent-worl-sub-container .big {
        width: 100%;
    }
    .recent-worl-sub-container .big{
        margin-left: 0;
    }
    /* ellipse */
    .ellipse-1{
        margin-left: 140px;
    }
    .ellipse-2{
        margin-left: 160px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .ellipse-3{
        margin-left: 190px;
    }
    

}